# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directories
coverage
.nyc_output

# Dependency directories
node_modules/
jspm_packages/

# Optional cache directories
.npm
.eslintcache
.node_repl_history
.sass-cache

# Optional eslint cache

# Optional REPL history

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# Common toolchain intermediate files
tmp

# Distribution Outputs
dist/

# Documentation Intermediates
docs/_site
docs/api/
docs/updates.json
docs/Gemfile.lock
